[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CombinePortfolio"]
	path = CombinePortfolio
	url = https://github.com/cran/CombinePortfolio
[submodule "gamlss.lasso"]
	path = gamlss.lasso
	url = https://github.com/cran/gamlss.lasso
